.breadcrumbs li {
  text-transform: capitalize;
}

.breadcrumbs li:not(:first-child):before {
  content: '\203A' !important;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .breadcrumbs li:not(:last-child) {
  display: none;
  }
}