<nav aria-label="breadcrumbs" class="breadcrumbs">
  <ol>
    <li><a href="{{meta.site.url}}">Home</a></li>
    <li><a href="#">Top level page</a></li>
    <li><a href="#">Second level page</a></li>
    <li><a href="#" aria-current="page">Third level/current page</a></li>
  </ol>
</nav>